<div class="col d-flex justify-content-left">
  <div class="card flex-row" style="width: 50rem;margin-bottom:.50rem;border-color: #2E2F30">
    <div class="card-body">
      <p>
      <h5 class="card-title"><%= comment.commenter %></h5>
      <p class="card-text"><%= comment.body %></p>
    </div>
    <div class="article-actions">
      <% if logged_in?%>
        <%= link_to "Delete Comment",[comment.article,comment],method: :delete,data: { confirm: "Are you sure?" },class: "btn btn-xs btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

