// Place all the styles related to the Articles controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.listing {
  list-style: none;
  padding-left: 0;
}
